@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   font-family: 'Inter';
   background: #f7f8fa;
}
html {
   scroll-behavior: smooth;
}
